<?xml version="1.0"?>
<robot name="robucar" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find romea_mobile_base_description)/urdf/base2ASxxx.chassis.xacro" />
  <xacro:include filename="$(find robucar_description)/urdf/visual/chassis.xacro" />
  <xacro:include filename="$(find robucar_description)/urdf/visual/wheels.xacro" />
  <xacro:include filename="$(find robucar_description)/urdf/visual/arms.xacro" />

  <xacro:property name="conf" value="$(find robucar_description)/config/robucar.yaml" />
  <xacro:include filename="$(find robucar_description)/urdf/robucar_properties.xacro" />

  <xacro:macro name="robucar" params="mode prefix">
    <xacro:chassis>
      <chassis_visuals>
        <xacro:chassis_visual />
      </chassis_visuals>
      <xacro:front_left_arm_visual />
      <xacro:front_right_arm_visual />
      <xacro:rear_left_arm_visual />
      <xacro:rear_right_arm_visual />
      <xacro:front_left_wheel_visual />
      <xacro:front_right_wheel_visual />
      <xacro:rear_left_wheel_visual />
      <xacro:rear_right_wheel_visual />
    </xacro:chassis>
  </xacro:macro>

</robot>