<?xml version='1.0' encoding='utf-8'?>
<robot name="robucar" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="robucar_" />
  <xacro:arg name="mode" default="simulation" />
  <xacro:arg name="base_name" default="base" />
  <xacro:arg name="controller_manager_config_yaml_file" default="" />
  <xacro:arg name="ros_prefix" default="/robufast/" />

  <xacro:include filename="$(find robucar_description)/urdf/robucar.xacro" />
  <xacro:robucar mode="$(arg mode)" prefix="$(arg prefix)" />

  <xacro:include filename="$(find robucar_description)/urdf/robucar.simulation.xacro" />

  <xacro:robucar_simulation
    mode="$(arg mode)"
    base_name="$(arg base_name)"
    ros_prefix="$(arg ros_prefix)"
    controller_manager_config_yaml_file="$(arg controller_manager_config_yaml_file)" />

</robot>
